.sidenav{
    background-color: #3f51b5;
    width: 200px;
}

.text{
    color: #fff !important;
    margin-top: -20px
}

.sidenav i{
    padding-right: 10px;
    color: #fff;

}

.content{
    padding: 16px;
    backgropund-color: #fff
}